# Core
massive
fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx
numpy
pandas
 
# AI
anthropic
groq
 
# Utilities
apscheduler
pytz
tqdm
orjson
pytest
requests 
feedparser 
yfinance
beautifulsoup4

#machine learning
xgboost
scikit-learn